.header {
    background-color: rgb(91, 231, 169);
    box-shadow: 24px 24px 46px #40a276, -24px -24px 46px #76ffdc;
    padding: 20px;
    border-radius: 0 0 60px 60px;
    text-align: center;
    color: #474747;
}

.header h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Pattaya', sans-serif;
    font-weight: lighter;
}

.header p {
    font-size: 20px;
}